.vscode
__pycache__
.pytest_cache
.venv
dist
build
*.pyc
docs/~$BM_ui.pptx
config.cfg
BEEManipulator.7z
activityManager/.vs
activityManager/Debug
activityManager/x64
assets/database.json
assets/about.html
assets/packages
config.cfg
src/logs
logs
/src/.env
