[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
requests = "*"
pypresence = "*"
pillow = "*"
pyinstaller = "*"
pytest = "*"
cython = "*"
190b7c5 = {file = "https://github.com/ENDERZOMBI102/BEE-manipulator/raw/Old-master/srctools-1.2.0-py3.7.egg"}

[requires]
python_version = "3.7"
