[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
pyinstaller = "*"
pypresence = "*"
pymitter = "*"
requests = "*"
cython = "*"
servepy = "*"
pyglet = "*"
pillow = "*"
wxpython = "*"
markdown2 = "*"
discord-py = "*"
version-utils = "*"

[requires]
python_version = "3.7"
